{%include 'admin_header.html'%}
<br><br>
<link rel="stylesheet" href="/static/assets/css/admin.css">
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2019/12/26/05/16/leaf-4719686_640.jpg");  /* Add your background image path here */
        background-size: cover; /* Cover the entire body */
        background-position: center; /* Center the image */
        padding: 0;
        margin: 0;
        height: calc(100vh - 100px);
    }
</style>

<body>
    <h3 style="text-align: center;color: #ffffff;"><b>Hey Admin!!!</b></h3>
</body>
</html><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{%include 'footer.html'%}
