<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SHopiee!!</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="static/assets/img/doc-icon.jpg" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 
  <link href="static/assets/css/main.css" rel="stylesheet">

 
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="static/assets/img/logo.png" height="50" widht="50" alt="">

        <h1 class="sitename">Infinity Store</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="admin_home">Home</a></li>
          <li><a href="admin_category">Categories</a></li>
          <li><a href="admin_shopview">Shop</a></li>
          <li><a href="admin_vendors">Vendors</a></li>
          <li><a href="admin_products">Products</a></li>
          <li><a href="admin_userview">Customers</a></li>
          <!-- <li><a href="admin_complaintview">Complaints</a></li> -->
          <li class="dropdown"><a href="#"><span>Complaints</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="admin_complaintview">Complaints view</a></li>
              <li><a href="admin_reply">Reply Complaint</a></li>
            </ul>
          </li>
          <li><a href="admin_stock">Stock</a></li>


        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Log Out</a>

    </div>
  </header>
