<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hey Admin!!!</h3>
    <a href="admin_category">Add Categories</a>&nbsp;&nbsp;
    <a href="admin_shopview">Shop view</a>&nbsp;&nbsp;
    <a href="admin_vendors">Vendors</a>&nbsp;&nbsp;
    <a href="admin_products">Products</a>&nbsp;&nbsp;
    <a href="admin_userview">User View</a>&nbsp;&nbsp;
    <a href="admin_complaintview">View Complaints</a>&nbsp;&nbsp;
    <a href="admin_stock">Stock View</a>&nbsp;&nbsp;
    <a href="/">Log Out</a>&nbsp;&nbsp;
</body>
</html>