<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<body>
    <form method="post">
        <table cellpadding="5px" cellspacing="5px">
            <tr>
                <th>Username:</th>
                <td><input type="text" name="username" required></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</center>
</html>