{% include 'shop_header.html' %}
<br>
<style>
    body {
        background-image: url("/static/assets/img/dw.jpg");   /* Add your background image path here */
        background-size: cover; /* Cover the entire body */
        background-position: center; /* Center the image */
        padding: 0;
        margin: 0;
        height: calc(100vh - 100px);
        color: rgb(255, 255, 255);
    }
</style>
<center>
    <body>
        <form method="post">
        <div style="max-width: fit-content; margin: 20px auto; padding: 20px; background-color: #ffffff; border-radius: 8px;">
            <h4 style="color: rgb(0, 0, 0); text-align: center;"><b>USERS!!!</b></h4>
            <table cellpadding="5" cellspacing="5" style="width: 100%; border-collapse: collapse; background-color: #ffffff; color: rgb(0, 0, 0);">
                <tr style="background-color: #868686;">
                    <th style="padding: 10px; text-align: left;">SL No.</th>
                    <th style="padding: 10px; text-align: left;">First Name</th>
                    <th style="padding: 10px; text-align: left;">Last Name</th>
                    <th style="padding: 10px; text-align: left;">House Name</th>
                    <th style="padding: 10px; text-align: left;">Place</th>
                    <th style="padding: 10px; text-align: left;">Landmark</th>
                    <th style="padding: 10px; text-align: left;">Pincode</th>
                    <th style="padding: 10px; text-align: left;">Phone</th>
                    <th style="padding: 10px; text-align: left;">Email</th>
                    <th style="padding: 10px; text-align: left;">Actions</th>

                </tr>
                {% for i in data['qw'] %}
                <tr style="background-color: #ffffff;">
                    <td style="padding: 10px;">{{ loop.index }}</td>
                    <td style="padding: 10px;">{{ i['first_name'] }}</td>
                    <td style="padding: 10px;">{{ i['last_name'] }}</td>
                    <td style="padding: 10px;">{{ i['house_name'] }}</td>
                    <td style="padding: 10px;">{{ i['place'] }}</td>
                    <td style="padding: 10px;">{{ i['landmark'] }}</td>
                    <td style="padding: 10px;">{{ i['pincode'] }}</td>
                    <td style="padding: 10px;">{{ i['phone'] }}</td>
                    <td style="padding: 10px;">{{ i['email'] }}</td>
                    <td><a href="shop_chat?ssid={{i['login_id']}}" class="btn btn-outline-dark">Chats</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </form>
    </body>
</center>
<br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}
