<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
    <body>
        <form method="post">
            <table cellpadding="5px" cellspacing="5px">
                <tr>
                    <th>First Name:</th>
                    <td><input type="text" name="firstname"></td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td><input type="text" name="lastname"></td>
                </tr>
                <tr>
                    <th>House Name:</th>
                    <td><input type="text" name="hname"></td>
                </tr>
                <tr>
                    <th>Place:</th>
                    <td><input type="text" name="place"></td>
                </tr>
                <tr>
                    <th>Land Mark:</th>
                    <td><input type="text" name="lmark"></td>
                </tr>
                <tr>
                    <th>Pincode:</th>
                    <td><input type="text" name="pcode"></td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td><input type="text" name="pnum"></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="submit" value="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</center>
</html>