<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
    <body>
        <form method="post">
            <table>
                <tr>
                    <th>SL No.</th>
                    <th>Shop_name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                {%for i in data['vve']%}
                <tr>
                <td>{{loop.index}}</td>
                <td>{{i['shop_name']}}</td>
                <td>{{i['date_time']}}</td>
                <td>{{i['total']}}</td>
                <td>{{i['status_s']}}</td>
                {%if i['status_s']=='pending'%}
                <td><a href="user_payment?mid={{i['order_master_id']}}">Pay</a></td>
                <td><a href="user_view_cart?mid={{i['order_master_id']}}">Update</a></td>
                <td><a href="?action=remove&mid={{i['order_master_id']}}">Remove</a></td>
                {%endif%}
                </tr>
                {%endfor%}
            </table>
        </form>
    </body>
</center>
</html>