<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
    <body>
        <form method="post">
            <table>
                <tr>
                    <th>SL No.</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                {%for i in data['jj']%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{i['product_name']}}</td>
                    <td>{{i['amount']}}</td>
                    <td>{{i['quantity']}}</td>
                </tr>
                {%endfor%}
            </table>
        </form>
    </body>
</center>
</html>