{% include 'user_header.html' %}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("/static/assets/img/www.jpg");
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
        height: calc(100vh - 100px);
        color: rgb(0, 0, 0);
    }</style>
</head>
<center>
    <body>
        <form method="post">
            <div style="margin: 20px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                    <thead style="background-color: #f2f2f2;">
                        <tr>
                            <th style="padding: 10px; border: 1px solid #ddd; text-align: center;">Product Name</th>
                            <th style="padding: 10px; border: 1px solid #ddd; text-align: center;">Price</th>
                            <th style="padding: 10px; border: 1px solid #ddd; text-align: center;">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data['jj'] %}
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">{{ i['product_name'] }}</td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">{{ i['amount'] }}</td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">{{ i['quantity'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </form>
    </body>
</center>
</html>
<br><br><br><br><br><br><br><br>
{% include 'footer.html' %}
